################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/SecondTaskProject/.vs
/ConsystJSON/.vs
/ConsystJSON/ConsystJSON/obj/Debug/net8.0
/ConsystJSON/ConsystJSON/obj
/SecondTaskProject/SecondTaskProject/obj/Debug/net8.0
/SecondTaskProject/SecondTaskProject/obj
